{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<main>
		<div>
			<h1 class="fw-bold">Bienvenue chez Talla immoblier
				<p>Votre agence de proximité</p>
			</h1>
			<h3>Nous proposons toute sorte de logements</h3>
		</div>

		<div class="container">

			<div class="col-lg-4">
				<img src="images/immoblier01.jpg">
				<h2>Bail</h2>

				<span>Vous recevez vos clés le jour de la signature du bail</span>

			</div>

			<!-- /.col-lg-4 -->
			<div class="col-lg-3">
				<img src='images/immoblier0.jpg'>
				<h2>Accueil à l'agence</h2>

				<span>Nous vous réservons un accueil chaleureux dans nos agences</span>

			</div>

			<!-- /.col-lg-4 -->
			<div class="col-lg-4">
				<img src='images/immoblier4.jpg'>
				<h2>appartements</h2>
				<span>Nos appartements sont meublés<span></div>

					<!-- /.col-lg-4 -->
					<div class="col-lg-4">
						<img src='images/immoblier1.jpg'>
						<h2>Studio</h2>
						<span>Nos studios sont meublés</span>

					</div>

					<!-- /.col-lg-4 -->
					<div class="col-lg-4">
						<img src='images/immoblier10.jpg'>
						<h2>Maison</h2>
						<span>Nous louons et vendons des maisons</span>

					</div>


				</div>


			</main>
			<footer>
				<div class="container">
					<div class="col-6">
						<h2 class="fw-bold">
							Contact</h2>
						<span class="fw-bold">Email:<span>
								<p>talla.immoblier@gmail.com</p><br>
								<span class="fw-bold">Téléphone:<span>
										<p>0178630713</p><br>
										<span class="fw-bold">Adresse:<span>
												<p>4 square Jouvenet Paris 16ème</p>

											</div>
										</div>
										<div>
											<p class="float-end">
												<a href="#">Retour en haut de la page</a>
											</p>
											<p>&copy; 2020–2022 Company, Inc. &middot;

											</p>
										</div>

									</footer>
								{% endblock %}
